DATABASE_URL="postgresql://user:password@your-host.neon.tech/wordsfunny?sslmode=require"

JWT_SECRET="JWT_SECRET_EXAMPLE"
CRYPTO_SECRET="CRYPTO_SECRET_EXAMPLE"

EMAIL_SERVER_ADDRESS="EMAIL_SERVER_ADDRESS_EXAMPLE"
EMAIL_SERVER_PASS="EMAIL_SERVER_PASS_EXAMPLE"